Repository magento-engcom/import-export-improvements, pull requests merged in 2018-11, with the labels that each got.

#142 Added $websiteString property to test class
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/Validator/WebsiteTest.php
Labels: Component: AdvancedPricingImportExport, Release Line: 2.3

#138 Feature/import success page improvement
  app/code/Magento/ImportExport/Controller/Adminhtml/Import/Start.php
Labels: Component: ImportExport, Release Line: 2.3

#139 Feature/import behavior improvement
  app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php
Labels: Component: ImportExport, Release Line: 2.3

#140 Added $_regionCollection property to class
  app/code/Magento/CustomerImportExport/Model/Import/Address.php
Labels: Component: CustomerImportExport, Release Line: 2.3

#143 Fixed miss called property in getStoreIdByCode method
  app/code/Magento/BundleImportExport/Model/Import/Product/Type/Bundle.php
Labels: Component: BundleImportExport, Release Line: 2.3

#148 Clean Up Magento/ImportExport/Controller/Adminhtml/History/Download
  app/code/Magento/ImportExport/Controller/Adminhtml/History/Download.php
Labels: Component: ImportExport, Release Line: 2.3

#152 Removed method annotation without argument from PHPDoc
  app/code/Magento/Backend/Block/Widget/Grid.php
Labels: Component: Backend, Release Line: 2.3

#150 Define $session property in History model
  app/code/Magento/ImportExport/Model/History.php
Labels: Component: ImportExport, Release Line: 2.3
