Repository magento-engcom/import-export-improvements, pull requests merged in 2018-07, with the labels that each got.

#110 magento-engcom/import-export-improvements#44: Update the sample customer csv
  app/code/Magento/ImportExport/Files/Sample/customer.csv
Labels: 2.3-develop, Component: ImportExport

#115 import-export-improvements #82 : super attribute error message improvements
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
Labels: 2.3-develop, Component: ConfigurableImportExport

#111 magento-engcom/import-export-improvements#58: Fix generation of import url
  app/code/Magento/ImportExport/view/adminhtml/templates/import/form/before.phtml
Labels: 2.3-develop, Area: Frontend, Component: ImportExport
